.nav-container{position:relative;z-index:4;width:100%;background:#dc3135;background:-moz-linear-gradient(top, #dc3135 0%, #d33034 100%);background:-webkit-linear-gradient(top, #dc3135 0%,#d33034 100%);background:linear-gradient(to bottom, #dc3135 0%,#d33034 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc3135', endColorstr='#d33034',GradientType=0);}
.sf-menu{}
.sf-menu li{float:left;text-align:left;position:relative;z-index:99;}
.sf-menu li.parent{z-index:999;}
.sf-menu > li{border-left:1px solid #963026;}
.sf-menu li a{display:block;color:#fff;text-decoration:none;position:relative;padding:0;text-transform:capitalize;}
.sf-menu > li > a > span{display:block;font-size:16px;line-height:18px;cursor:pointer;white-space:normal;text-transform:capitalize;font-weight:500;vertical-align:middle;text-align:center;padding:16px 70px 16px 70px !important;}
.sf-menu > li.parent > a span:after{content:"\f107";display:inline-block;font-size:15px;margin-left:7px;vertical-align:middle;}
.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a{color:#fff;background:#ef3743;background:-moz-linear-gradient(top, #ef3743 0%, #d11215 100%);background:-webkit-linear-gradient(top, #ef3743 0%,#d11215 100%);background:linear-gradient(to bottom, #ef3743 0%,#d11215 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef3743', endColorstr='#d11215',GradientType=0);}
.sf-menu li a:hover{text-decoration:none;}
.sf-menu ul{position:absolute;top:-999em;z-index:99;width:212px;display:none;background:#d53034;moz-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
.sf-menu li li.parent > a:before{content:"\f107";float:right;font-size:14px;}
.sf-menu li li.parent.sfHover > a:before,
.sf-menu li li.parent:hover > a:before,
.sf-menu li li.parent.active > a:before{content:"\f105";}
.sf-menu li li.last{}
.sf-menu li li{position:relative;float:none;border-bottom:1px solid #963026;}
.sf-menu li li a{display:block;background:none;font-size:14px;line-height:18px;color:#fff;text-transform:capitalize;padding:8px 15px;}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a{color:#fff;background-color:#d53034;outline:none;}
.sf-menu ul ul{position:absolute;top:-999em;z-index:99;width:220px;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul{left:0px;top:61px;}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul{top:-999em;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul{left:214px;top:0;}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul{top:-999em;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul{left:214px;top:0;}
@media only screen and (min-width:992px) and (max-width:1199px){.sf-menu > li > a > span{font-size:13px;padding:16px 60px 16px 60px !important;}
}
@media only screen and (min-width:992px){#menu-icon,
.sf-menu-phone,
.sf-menu-block{display:none !important;}
.nav-container.fixed{position:fixed;top:0;box-shadow:0 5px 15px rgba(0,0,0,0.13);z-index:9;}
}
@media only screen and (max-width:991px){.sf-menu,
.sf-menu-phone{display:none;}
.nav-container{padding:0 30px;margin:0 -30px;width:auto;}
.sf-menu-block{display:block;position:relative;}
#menu-icon{display:block;font-size:24px;cursor:pointer;text-transform:capitalize;padding:0 10px;height:50px;line-height:46px;color:#fff;overflow:hidden;}
#menu-icon:before{content:"\f055";font-size:25px;line-height:48px;float:right;}
#menu-icon.active:before{content:"\f056";}
.sf-menu-phone{background:#c91317;position:absolute;z-index:2;width:100%;moz-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;top:50px;padding:0;}
.sf-menu-phone li{position:relative;}
.sf-menu-phone li{border-bottom:1px solid #963026 !important;padding:10px 15px 12px;font-size:16px;}
.sf-menu-phone li.last{border-bottom:0;}
.sf-menu-phone li a{display:inline-block;color:#fff;}
.sf-menu-phone li a:hover{color:#e6c399;}
.sf-menu-phone li li{font-size:13px;padding:3px 0;border:0;}
.sf-menu-phone li li:first-child{padding-top:10px;}
.sf-menu-phone li li:first-child strong{top:10px;}
.sf-menu-phone li strong{position:absolute;display:block;top:8px;right:5px;width:24px;font-size:16px;line-height:16px;text-align:center;}
.sf-menu-phone > li > strong{top:9px;right:18px;font-size:20px;line-height:20px;}
.sf-menu-phone li strong:hover{cursor:pointer;}
.sf-menu-phone li strong:before{content:"\f067";}
.sf-menu-phone li strong.opened:before{content:"\f068";}
.sf-menu-phone ul{width:auto;display:none;padding:0 15px;]}
.sf-menu-phone > li.active > a > span{color:inherit;}
.sf-menu-phone > li.active > a,
.sf-menu-phone > li > a:hover{#e6c399}
.sf-menu-phone li li.active > a,
.sf-menu-phone li li a:hover{#e6c399}
}
@media only screen and (max-width:767px){}